<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object test">
<parameter name="appURL" value="https://www.ixigo.com/"/>
<parameter name="browserType" value="chrome"/>
  <test name="sample test">
     <classes>
     <class name="test.company.tests.SearchResultsTest">    
  </class> 
    </classes>
  </test>
</suite>